.chart {
    width: 20%;
    height: 20%;
}

.chart-head {
    text-align:center;
}

.jumbotron {
    background-image: url("./images/greenmoney.png");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Arial Black', Gadget, sans-serif;
}

.border {
    border: solid 2px lightgray !important;
    padding: 50px 50px 50px 50px;
    margin: 20px;
    border-radius: 20px;
}

.justify-content-center {
    margin: 20px 20px 20px 20px;
}

.remove {
    color:red;
}

.btn-success {
    width: 280px;
}

ul {
    list-style-type:none;
}

i {
    font-size: 35px;
}

.font {
    font-size: 20px;
}

.expenses_bg{
    /* background-color: rgba(183, 255, 0, 0.2); */
    border-radius: 35px;
    
}
.bg-bg{
    background-image: linear-gradient(to bottom, rgb(196, 255, 205), rgb(255, 192, 167));
}

.box-bg{
    background-color: white;
}